/* common settings */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  .wrapper {
    max-width: 1440px;
    margin: 0px auto;
    overflow: hidden;
    min-height: 100%;
  }
  button:hover, a:hover, label, a {
    cursor: pointer;
  }
  .personal {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
  }
  .input {
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border: none;
    outline: none;
  }
  .input::placeholder {
    color: #363636;
  }
  .checkbox{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    margin-right: 4px;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }
  .text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
  }
  /* header */
  .header {
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: center;
    background-color: black;
   }
  .header-container, .footer-container {
    display: flex;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 1256px;
    height: 37px;
    margin: 24px 90px 22px 92px;
    align-items: center; 
    border-radius: 2px;
    justify-content: space-between;
  }
  .header-container__logo {
    display: flex;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    width: 179.74px;
  }
  .header-container__navigation {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    list-style: none;
    font-size: 11px;
    width: 581.43px;
    line-height: 15px;
    margin: 0px 67.36px 0px 95.47px;
  }
  .header-container__navigation_item:nth-child(-n+4) {
    margin-right: 47.09px;
  }
  .header-container__navigation_item:nth-child(1) {
    color: #E3B873;
  }
  .header-container__phone a {
    color:#E3B873;
    font-size: 11px;
    line-height: 15px;
    text-decoration-line: underline;
  }
  .header-container__button {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: #E3B873;
    color: #FFFFFF;
    width: 161px;
    height: 37px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);  
    margin-left: 45px; 
  }
  /* section 1 */
  .section_1-container {
    display: flex;
    height: 707px;
    background-image: url(images/section1-image.jpg);
   }
   .section_1-container::after {
    width: 1440px;
    height: 707px;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
  }
  .section_1-container__content {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 676.11px;
    height: 305px;
    margin: 194px 629.89px 208px 134px;
    color: #FFFFFF;
    z-index: 1;
  }
  .section_1-container__content_title {
    display: flex;
    width: 676.11px;
    height: 105px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53.11px;
    text-transform: uppercase;
  }
  .inner_text {
    color: #E3B873;
  }
  .section_1-container__content_text {
    display: flex;
    margin-top: 19px;
    font-family: 'Nunito Sans',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 505px;
    height: 89px;
  }
  .section_1-container__content_button1 {
    width: 207px;
    height: 51px;
    margin: 41px 20px 0px 0px;
    font-family: 'Nunito Sans',sans-serif;
    font-style: italic;
    font-size: 11px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #E3B873;
    border: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }
  .section_1-container__content_button2 {
    margin-top: 41px;
    width: 207px;
    height: 51px;
    font-family: 'Nunito Sans',sans-serif;
    font-style: italic;
    font-size: 11px;
    border-radius: 2px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: transparent;
  }
  /* section 2 */
  .section_2 {
    height: 1074px;
    background-color: #131313;
  }
  .section_2-container {
    display: flex;
    position: absolute;
    width: 1171px;
    height: 552.28px;
    margin: 107px 0px 0px 134.45px;
  }
  .section_2-container__image {
    width: 679px;
    height: 482.38px;
    background-image: url(images/section2-image.jpg);
    margin: auto 0px 0px auto;
  }
  .section_2-container__list {
    display: flex;
    position: absolute;
    width: 623px;
    height: 24px;
    margin-left: 492px;
    list-style-type: none;
    justify-content: space-between;
  }
  .section_2-container__list_item:nth-child(1) {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 6.68px;
    text-decoration-thickness: 1px;
  } 
  .section_2-container__list_item:nth-last-child(-n+2) {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
  }
  .section_2-container__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 442px;
    height: 390px;
    margin-top: 69.3px;
  }
  .section_2-container__text_header {
    display: flex;
    width: 253px;
    height: 66px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
  }
  .section_2-container__text_main {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 34px;
  }
  .section_2-container__text_title1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 42px;
  }
  .section_2-container__text_underTitle1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 9px;
  }
  .section_2-container__text_title2 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    position: absolute;
    margin: 228px 0px 0px 190px; 
  }
  .section_2-container__text_underTitle2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    position: absolute;
    margin: 259px 0px 0px 190px;
  }
  .section_2-container__text_title3 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    position: absolute;
    margin-top: 335px;
  }
  .section_2-container__text_underTitle3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    position: absolute;
    margin-top: 366px;
  }
  .section_2-container__text_title4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    position: absolute;
    margin: 335px 0px 0px 190px;
  }
  .section_2-container__text_underTitle4 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    position: absolute;
    margin: 366px 0px 0px 190px;
  }
  .section_2-container__arrows {
    display: flex;
    position: absolute;
    width: 205.68px;
    height: 13.28px;
    align-self: flex-end;
  }
  .section_2-container_cam {
    display: flex;
    position: absolute;
    margin: 750px 0px 0px 623.45px;
  }
  /* section 3 */
  .section_3-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 779px;
    background-color: #FFFFFF;
  }
  .section_3-container__image {
    display: flex;
    width: 817px;
    height: 434px;
    margin: -208px 0px 0px 311.45px;
    background-image: url(images/section3-image.jpg);
  }
  .section_3-container__line {
    display: flex;
    width: 55px;
    height: 2.54px;
    margin: 62.5px 0px 0px 693px;
    border-radius: 30px;
    background-image: url(images/section3-line.jpg);
  }
  .section_3-container__text {
    display: flex;
    width: 681px;
    height: 130.91px;
    margin: 34.46px 0px 0px 380px;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
  }
  .section_3-container__form {
    display: flex;
    width: 769px;
    height: 51px;
    margin: 91.5px 0px 0px 336px;
    justify-content: space-between;
  }
  .section_3-container__form_button {
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    color: #FFFFFF;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
  }
  .section_3-container__form_personal {
    display: flex;
    width: 231px;
    height: 45px;
    flex-direction:column;
    border-bottom: solid 1px rgba(54, 54, 54, 0.5);
  }
   .section_3-container__form_checkbox {
    display: flex;
    position: absolute;
    width: 285.62px;
    height: 18px;
    margin: 635px 0px 0px 575.19px;
  }
  /* section 4 */
   .section_4-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 830px;
   }
   .section_4-container__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 257px;
    height: 67px;
    margin-left: 590px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
   }
   .section_4-container__title__img {
    width: 114px;
    height: 28px;
   }
   .section_4-container__columns {
    width: 1236px;
    height: 608px;
    display: flex;
    justify-content: space-between;
    margin: 31px 0px 0px 104px;
  }
  .columns__item1_image,.columns__item2_image,.columns__item3_image {
    display: flex;
    width: 392px;
    height: 421px;
  }
  .columns__item1_image {
    background-image: url(images/section4-column1.jpg);
  }
  .columns__item2_image {
    background-image: url(images/section4-column2.jpg);
  }
  .columns__item3_image {
    background-image: url(images/section4-column3.jpg);
  }
   .columns__content {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 286px;
    background-color:#FFFFFF;
    margin: -127px 0px 0px 31px;
    position: relative;
    z-index: 1;
  }
   .columns__content_title {
    display: flex;
    margin: 25px 0px 0px 31px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
  }
  .columns__content_list {
    display: flex;
    flex-direction: column;
    width: 267px;
    height: 178px;
    margin: 13px 0px 0px 34px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
  }
  .columns__content_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 228px;
    height: 54px;
    background: #E3B873;
    color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: none;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin: -27px 0px 0px 31px;
    position: relative;
    z-index: 1;
  }
  /* section 5 */
  .section_5 {
    max-width: 1440px;
  }
  .section_5-container {
    display: flex;
    width: 1340px;
    height: 725.44px;
  }
  .section_5-container__leftSide {
    width: 703px;
    height: 645px;
    background-image: url(images/Section5-leftSideFull.jpg);
  }
  .section_5-container__rightSide {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    margin: 117.14px 0px 0px auto;
  }
  .rightSide__title {
    display: flex;
    justify-content: center;
    width: 297px;
    height: 47px;
    margin: 28px 0px 0px 104px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
  .rightSide__main {
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 50px;
    margin: 39px 0px 0px 49px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
  }
  .rightSide__main_upperText {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
  }
  .rightSide__main_lowerText {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    background-color: #131313;
    border: none;
    outline: none;
  }
  .rightSide__main_lowerText::placeholder {
    color: #FFFFFF;
  }
  .rightSide__main__agreement {
    width: 285.62px;
    height: 18px;
    margin: 16px 0px 0px 49px;
  }
  .agreement_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
  }
  .rightSide__main_button {
    display: flex;
    width: 213px;
    height: 51px;
    justify-content: center;
    align-items: center;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border: none;
    font-family: 'Nunito Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 39px 0px 0px 244px;
  }
  .section_5-container__pig {
    display: flex;
    position: absolute;
    width: 441px;
    height: 82px;
    margin: 653.44px 0px 0px 866.5px;
    background-image: url(images/section5-pig.jpg);
  }
  /* section 6 */
  .section_6-container {
    display: flex;
    width: 1440px;
    height: 1017.86px;
    margin-top: 129.56px;
  }
  .section_6-container__backgroundImage {
    width: 1440px;
    height: 864px;
    margin-top: 112.53px;
    background-image: url(images/section6-background.jpg);
    position: relative;
  }
  .section_6-container__backgroundImage::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
  }
  .backgroundImage__title {
    width: 411px;
    height: 66px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    position: relative;
    z-index: 1;
    margin: 137.47px 0px 0px 99px;
  }
  .backgroundImage__list {
    width: 299px;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 47px 0px 0px 99px;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
   }
  .list_item {
    list-style: none;
  }
  .list_item:nth-child(1) {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 6.68px;
    text-decoration-thickness: 1px;
  }
  .backgroundImage__image1 {
    display: flex;
    width: 354px;
    height: 557.88px;
    background-image: url(images/section6-image1.jpg);
    position: absolute;
    z-index: 1;
    margin: 72px 0px 0px 587px;
  }
  .backgroundImage__image2 {
    display: flex;
    width: 354px;
    height: 275px;
    background-image: url(images/section6-image2.jpg);
    position: absolute;
    z-index: 1;
    margin-left: 984px;
  }
  .backgroundImage__image3 {
    display: flex;
    width: 353.81px;
    height: 349.47px;
    background-image: url(images/section6-image3.jpg);
    position: absolute;
    z-index: 1;
    margin: 668.39px 0px 0px 587px;
  }
  .backgroundImage__image4 {
    display: flex;
    width: 353.81px;
    height: 625.23px;
    background-image: url(images/section6-image4.jpg);
    position: absolute;
    z-index: 1;
    margin: 311.77px 0px 0px 984px;
  }
  /* section 7 */
  .section_7-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 1440px;
    height: 1107.11px;
    margin-top: -41.33px; 
  }
  .section_7-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128,128,128,.05);
  }
  .section_7-container__content {
    display: flex;
    flex-direction: column;
    width: 1236px;
    height: 642.03px;
    position: absolute;
    z-index: 1;
    align-self: start;
    margin: 110.47px 0px 0px 102px;
  }
  .content__title {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 217.14px;
    position: relative;
    z-index: 1;
  }
  .content__title_header {
    display: flex;
    justify-content: center;
    width: 257px;
    height: 26px;
    margin-left: 489px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;
  }
  .content__title_image {
    width: 114px;
    height: 27.62px;
    background-image: url(images/section7-hands.png);
    margin: 13.22px 0px 0px 562px;
  }
  .content__title_text {
    display: flex;
    width: 476px;
    height: 57px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin: 24.16px 0px 0px 380px;
    justify-content: center;
  }
  .content__columns {
    display: flex;
    justify-content: space-between;
    height: 455.03px;
  }
  .content__columns_item {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 455.03px;
  }
  .content__columns_item_background {
    width: 376px;
    height: 428px;
    background-color: #FFFFFF;
  }
  .content__columns_item-photo {
    display: flex;
    position: absolute;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin: 24px 0px 0px 20px;
  }
  .content__columns_item-name {
    display: flex;
    position: absolute;
    width: 178px;
    height: 42px;
    margin: 41px 0px 0px 119px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
  }
  .content__columns_item-text {
    display: flex;
    position: absolute;
    width: 324.08px;
    height: 216px;
    margin: 122px 0px 0px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
  }
  .content__columns_item-button {
    display: flex;
    position: absolute;
    width: 293.75px;
    height: 54px;
    margin-top: 401px;
  }
  /* section 8 */
  .section_8-container {
    display: flex;
    position: relative;
    width: 1440px;
    height: 953.9px;
    background-image: url(images/section8-background.jpg);
  }
  .section_8-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
  }
  .section_8-container__form {
    display: flex;
    flex-direction: column;
    width: 883px;
    height: 445.32px;
    background-color: #131313;
    margin: -222.65px 0px 0px 288.7px;
    position: relative;
    z-index: 2;
  }
  .section_8-container__form_title {
    display: flex;
    width: 257px;
    height: 26px;
    margin: 34.4px 0px 0px 313px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .section_8-container__form_person {
    display: flex;
    width: 883px;
    height: 50px;
    margin-top: 45.84px;
  }
  .section_8-container__form_name {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 231px;
    margin-left: 180.5px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
  }
  .section_8-container__form_phone {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 231.01px;
    margin-left: 58.99px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
  }
  .section_8-container__form_question {
    display: flex;
    flex-direction: column;
    width: 516.82px;
    height: 51px;
    margin: 48.76px 0px 0px 181.5px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
  }
  .section_8-container__form_agreement {
    display: flex;
    width: 288px;
    height: 18px;
    margin: 46.46px 0px 0px 298.69px;
  }
  .section_8-container__form_button {
    display: flex;
    width: 200px;
    height: 51px;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 0px 340.5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border: none;
  }
  .section_8-container__adress {
    display: flex;
    flex-direction: column;
    width: 589px;
    height: 199.33px;
    margin: 274.67px 0px 0px 425px;
    position: absolute;
    z-index: 1;
  }
  .section_8-container__adress_text {
    font-family: 'Yeseva One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
  }
  .section_8-container__adress_socials {
    display: flex;
    width: 71px;
    height: 28px;
    justify-content: space-between;
    margin: 26px 0px 0px 257px;
  }
  .section_8-container__map {
    display: flex;
    width: 925px;
    height: 465px;
    background-image: url(images/map.png);
    position: absolute;
    z-index: 1;
    margin: 422.97px 0px 0px 250.5px;
  }
  /* footer */
  .footer {
    display: flex;
    width: 1440px;
    height: 133px;
    align-items: center;
    justify-content: center;
    background-color: #181818;
  }